@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
}

input {
  @apply pl-3;
}

.icon-btn {
  @apply hover:fill-amber-200 group-hover:fill-amber-200;
}

.icon-btn.active {
  @apply fill-amber-400 group-hover:fill-amber-400;
}

input.input {
  @apply border-b border-amber-200 outline-none 
    hover:border-amber-400 hover:border-b-2
    focus:border-amber-400 focus:border-b-2 focus:shadow-lg
    duration-100 ease-linear;
}

input.input.error {
  @apply border-b-2 border-red-300 outline-none text-red-200
    hover:border-red-500 
    focus:border-red-500 shadow-lg
    duration-100 ease-linear;
}

button.btn {
  @apply p-1 text-amber-200 border border-transparent hover:text-amber-400  hover:border-b-amber-50;
}

button.btn.active {
  @apply text-amber-400 underline underline-offset-4;
}

.text-hover {
  @apply hover:text-amber-200 group-hover:text-amber-200;
}

.text-hover.active {
  @apply text-amber-400 hover:text-amber-400 group-hover:text-amber-400;
}
